<%= provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <div class="span8 offset2">
    <%= will_paginate %>
    <%= render @users %>
    <br>
    
  </div>
  <div class="span8 offset2">
    <%= will_paginate %>
  </div>
</div>